<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ggikko.me.r2d2">

    <!-- <permission android:name="ggikko.me.r2d2.permission.MAPS_RECEIVE" /> -->

    <uses-permission android:name="ggikko.me.r2d2.locationapi.maps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="ggikko.me.r2d2.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="ggikko.me.r2d2.permission.C2D_MESSAGE" />


    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 홈 activity -->
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/homeactivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 처음 애니메이션 화면 activity -->
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 activity -->
        <activity
            android:name=".user.LoginActivity"
            android:theme="@style/AppTheme.NoActionBarWhite" />

        <!-- 회원가입 activity -->
        <activity
            android:name=".user.JoinActivity"
            android:theme="@style/AppTheme.NoActionBarWhite" />

        <!-- 내 주변 맛집 activity -->
        <activity
            android:name=".around.AroundActivity"
            android:label="@string/empty"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 지하철 선택 activity -->
        <activity
            android:name=".subway.SubwayActivty"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 지도 activity -->
        <activity
            android:name=".map.MapActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 푸쉬 셋팅 activity -->
        <activity
            android:name=".push.PushSettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- GCM GcmReceiver -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="ggikko.me.r2d2.gcm" />
            </intent-filter>
        </receiver>

        <!-- GCM Listener-->
        <service
            android:name="ggikko.me.r2d2.gcm.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <!-- GCM InstanceIDListenerService-->
        <service
            android:name="ggikko.me.r2d2.gcm.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- GCM RegisterationIntentService-->
        <service
            android:name="ggikko.me.r2d2.gcm.RegisterationIntentService"
            android:exported="false"></service>

        <!-- 구글맵 API KEY -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/googlemap_apikey" />

    </application>

</manifest>
